.accountMenu {
    margin: 1rem 0;
    
    h3 {
      margin: 0;
      margin-bottom: 0.5rem;
      margin-left: .2rem;
      color: var(--ft-cl-light-grey);
      cursor: default;
    }

    .accountContainer {
        border-radius: 7px;
        background-color: var(--pr-cl-dark-grey);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
}