.addButton {
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;

    border: none;
    border-radius: 7px;
    background-color: var(--pr-cl-yellow);
    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    z-index: 5;
}