.confidentMenu {
  margin: 1rem 0;

  h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    color: var(--ft-cl-light-grey);
    cursor: default;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--pr-cl-dark-grey);
    border-radius: 7px;

    h4 {
        color: var(--ft-cl-white);
        margin: 0;
    }

    i {
        color: var(--ft-cl-light-grey-second);
    }
  }
}
