.menu {
  height: 100%;
  width: 100%;
  background-color: var(--pr-cl-grey);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  overflow: scroll;

  h2 {
    text-align: center;
    margin: 0;
    color: var(--ft-cl-white);
  }
  
  h2, h3, h4, p {
    cursor: default;
  }
  
  i {
    cursor: pointer;
  }

  .exitOption {
    position: absolute;
    font-size: 20px;
    color: var(--ft-cl-white);
    top: 1.55rem;
  }

  button {
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: .4rem;
    font-size: 18px;
    background-color: var(--pr-cl-yellow);
    margin: 2rem 0 ;
  }

  .deleteAccount {
    text-align: center;
    color: var(--ft-cl-white);
    font-size: 16px;
  }
}
