.newPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    position: relative;

    form {
        display: flex;
        flex-direction: column;
    }

    h1 {
        position: absolute;
        top: 3rem;
    }

    button {
        margin-bottom: 1rem;
    }

    a {
        color: var(--ft-cl-black);
        text-decoration: none;
        font-size: 18px;
    }

    .createAccount {
        margin-top: 5rem;
    }
}