.textArea {
  border: none;
  max-width: 18rem;
  min-width: 100%;
  width: 100%;
  min-height: 12rem;
  font-size: 14px;
  resize: none;
  background-color: var(--pr-cl-dark-grey);
  color: var(--ft-cl-white);
  padding: 0 .5rem;
  box-sizing: border-box;
}
