.styleMenu {
    margin: 1rem 0;
    
    h3 {
      margin: 0;
      margin-bottom: 0.5rem;
      margin-left: .2rem;
      color: var(--ft-cl-light-grey);
    }

    .disposalContainer {
        border-radius: 7px;
        background-color: var(--pr-cl-dark-grey);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }

    .arrangementModal {
    position: fixed;
    top: 11.5rem;
    left: 50%;
    transform: translate(20%, -50%);
  }

  .sortModal {
    position: fixed;
    top: 13.75rem;
    left: 28%;
    transform: translate(20%, -50%);
  }

  .themeModal {
    position: fixed;
    top: 16rem;
    left: 69.5%;
    transform: translate(20%, -50%);
  }
}