.createNotes {
  display: flex;
  justify-items: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  hr {
    width: 100%;
    border: none;
    height: 2px;
    border-radius: 7px;
    background-color: var(--pr-cl-grey);
  }

  .linkInput {
    font-size: 16px;
    padding-right: 1.75rem;
  }

  .statusCreateNotes,
  .categorieCreateNotes {
    margin: 0.25rem 0;
    margin-left: 0.5rem;
  }
}

.categoriesCreateNotes {
  z-index: 100;

  .categories {
    position: fixed;
    top: 24rem;
    right: 3rem;
    transform: translate(20%, -50%);
  }
}
