.passwordInput {
    input {
        background-color: var(--pr-cl-light-yellow);
        border: none;
        border-radius: 7px;
        width: 14.5rem;
        padding: .4rem 2.5rem .4rem 1rem;
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    i {
        margin-left: -2rem;
        font-size: 20px;
        cursor: pointer;
    }
}

.passwordInput input::placeholder {
    color: var(--ft-cl-black);
    user-select: none;
}