.passwordInput {
    input {
        background-color: var(--pr-cl-demi-yellow);
        border: none;
        border-radius: 7px;
        height: 3rem;
        width: 14.5rem;
        padding-left: 1rem;
        padding-right: 2.5rem;
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    i {
        margin-left: -2rem;
        font-size: 20px;
        cursor: pointer;
    }
}

.passwordInput input::placeholder {
    color: var(--ft-cl-black);
    user-select: none;
}