.account {
  height: 100vh;
  width: 100vw;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  overflow: scroll;
  background-color: var(--pr-cl-demi-white);

  .modalAccount {
    background-color: var(--pr-cl-grey);
    height: calc(100vh - 4rem);
    margin: 1rem;
    border-radius: 16px;
    padding: 1rem 1rem 1rem 1rem;

    display: grid;
    grid-template-rows: 12vh 10vh 10vh 5vh 10vh 10vh 15vh 10vh;
    grid-template-columns: 100%;

    .topAccount {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      align-self: flex-start;

      .closeAccount {
        margin-left: 1rem;
      }

      h2 {
        font-size: 25px;
        color: var(--ft-cl-white);
        cursor: default;
      }

      button {
        margin: 0;
      }
    }

    input,
    button {
      margin: auto;
    }

    .pseudoAccount {
      grid-row: 2 / 3;
      cursor: default;
    }

    .pseudoAccountUpdate {
      border: solid 3px var(--ft-cl-yellow);
      cursor: text;
    }

    .pseudoValidateAccount {
      grid-row: 3 / 4;
    }

    .emailAccount {
      grid-row: 5 / 6;
    }

    .passwordAccount {
      grid-row: 6 / 7;
    }

    .logoutAccount {
      grid-row: 8 / 9;
    }

    a {
      font-size: 20px;
      color: var(--ft-cl-white);
      text-decoration: none;
      align-self: center;
      justify-self: flex-end;
      margin: auto;
      grid-row: 9 / 10;
      cursor: pointer;
    }
  }
}
