.emailInput {
    background-color: var(--pr-cl-demi-yellow);
    border: none;
    border-radius: 7px;
    height: 3rem;
    width: 16rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.emailInput::placeholder {
    color: var(--ft-cl-black);
    user-select: none;
}