.emailInput {
    background-color: var(--pr-cl-light-yellow);
    border: none;
    border-radius: 7px;
    width: 16rem;
    padding: .4rem 1rem;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.emailInput::placeholder {
    color: var(--ft-cl-black);
    user-select: none;
}