.radioDone {
    background-color: var(--pr-cl-white);
    height: 3rem;
    width: 7rem;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    .done {
        font-size: 35.5px;
        color: var(--tf-cl-demi-green);
        margin: auto;
        cursor: pointer;
    }

    .doneChecked {
        color: var(--tf-cl-green);
    }

    input {
        display: none;
    }

    img {
        margin: auto;
        cursor: pointer;
    }

    hr {
        height: 80%;
        width: 5px;
        border: none;
        background-color: var(--pr-cl-grey);
        border-radius: 10px;
    }

}