* {
  line-height: 1.5;
  font-weight: 400;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--pr-cl-grey);

  h1,
  p,
  span,
  input,
  button,
  a, 
  h2,
  h3,
  h4,
  select, 
  textarea {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  button, i {
    cursor: pointer ;
  }
}

:root {
  /* Font colors */
  --ft-cl-white: #ffffff;
  --ft-cl-black: #1e1e1e;
  --ft-cl-semi-black: #00000050;
  --ft-cl-yellow: #dea605;
  --ft-cl-light-grey: #C5C5C5;
  --ft-cl-light-grey-second: #A4A4A4;

  /* Primary colors */
  --pr-cl-yellow: #dea605;
  --pr-cl-grey: #2c2c2c;
  --pr-cl-dark-grey: #191919;
  --pr-cl-white: #ffffff;
  --pr-cl-demi-white: #ffffff7e;
  --pr-cl-light-yellow: #D5BB6E;
  --pr-cl-light-grey: #404040;
  --pr-cl-black: #0B0B0B;

  /* True | False */
  --tf-cl-green: #258931;
  --tf-cl-red: #d01f08;
  --tf-cl-demi-green: hsla(127, 57%, 34%, 0.5);
  --tf-cl-demi-red: #d01f0840;
}
