* {
  line-height: 1.5;
  font-weight: 400;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--pr-cl-grey);

  h1,
  p,
  span,
  input,
  button,
  a,
  h2,
  h3,
  h4,
  select,
  textarea {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  button,
  i {
    cursor: pointer;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }
}

:root {
  /* Font colors */
  --ft-cl-white: #ffffff;
  --ft-cl-black: #1e1e1e;
  --ft-cl-semi-black: #00000050;
  --ft-cl-yellow: #dea605;
  --ft-cl-light-grey: #c5c5c5;
  --ft-cl-light-grey-second: #a4a4a4;

  /* Primary colors */
  --pr-cl-yellow: #dea605;
  --pr-cl-grey: #2c2c2c;
  --pr-cl-dark-grey: #191919;
  --pr-cl-white: #ffffff;
  --pr-cl-demi-white: #ffffff7e;
  --pr-cl-light-yellow: #d5bb6e;
  --pr-cl-light-grey: #404040;
  --pr-cl-black: #0b0b0b;
  --pr-cl-red: #af1313;

  /* True | False */
  --tf-cl-green: #258931;
  --tf-cl-demi-green: hsla(127, 57%, 34%, 0.5);
  --tf-cl-demi-red: #d01f0840;
}
